.challenges-main {
    padding: 1rem 1.5rem;
    position: relative;
    h2 {
        font-size: 2rem;
        font-weight: 700;
    }
    p {
        padding: 0.5rem 0;
        font-size: 1.25rem;
    }
}

.challenges-container {
    padding: 1rem 5rem;
}

.challenge-box {
    width: 25%;
    padding: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.1) -3px 3px 0px 0px;
    &:hover {
            box-shadow: rgba(0, 0, 0, 0.1) -5px 5px 2px 2px;
    }
    h4 {
        padding: 0.5rem;
        font-size: 1.5rem;
        letter-spacing: 2px;
    }
    p {
        height: 2rem;
        padding: 0.5rem;
        display: flex;
        align-items: center;
        font-weight: 400;
    }
    button {
        width: 100%;
        padding: 0.5rem;
        margin: 0.5rem 0;
        border: double 5px $authentication-color;
        border-radius: 2rem;
        background-color: white;
        color: $authentication-color;
        font-size: 1.1rem;
        &:hover {
            background-color: $authentication-color;
            color: white;
        }
    }
}

.challenge-image {
    width: 100%;
    height: 200px;
    margin: 0.2rem 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.challenge-icon {
    height: 1.25rem;
    margin-right: 0.5rem;
}